@model Livraria.Models.Livro

@{
    ViewData["Title"] = "Delete";
}

<h1>Remover</h1>

<h3>Certeza que deseja remover este livro?</h3>
<div>
    <h4>Livro</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd><dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Autor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Autor)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Preco)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Preco)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.QtdVendas)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.QtdVendas)
        </dd>
        <dt class="col-sm-2">
            Capa
        </dt>
        <dd class="col-sm-10">
            <img src="@Model.Capa" alt="Book Cover" style="max-width:160px; max-height:220px;" />
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
