@using Microsoft.AspNetCore.Identity;
@inject SignInManager<Usuario> SignInManager

@model Livraria.Models.Livro

@{
	ViewData["Title"] = "Detalhes do Livro";
	string? IdUsuario = ViewData["IdUsuario"] as string;
	bool? vendedor = ViewData["Vendedor"] as bool?;
}
<div class="book-details-page">
	<div class="book-details">
		<div class="book-cover">
			<img src="@Model.Capa" alt="Capa do Livro: @Model.Nome">
		</div>
		<div class="book-info">
			<h2>@Model.Nome</h2>
			<p>Autor: <strong>@Model.Autor</strong></p>
			<p>Preço: <strong>R$ @Model.Preco</strong></p>
			<p>Vendas: @Model.QtdVendas</p>

			@if (vendedor != true && SignInManager.IsSignedIn(User))
			{
				<form asp-action="AdicionarCarrinho" asp-controller="Carrinho" asp-route-idLivro="@Model.Id" method="POST">
					<input type="hidden" name="LivrosIds" value="@Model.Id" />
					<input type="hidden" name="IdUsuario" value="@IdUsuario">
					<button type="submit" class="btn btn-style">Adicionar ao carrinho</button>
				</form>
			}
			else
			{
				if (vendedor == false || vendedor == null)
				{
					<a class="btn btn-style" asp-area="Identity" asp-page="/Account/Login">Adicionar ao carrinho</a>
				}
			}

			<div class="rating-section">
				<h3>Avaliações:</h3>
				@if (Model.Avaliacoes != null)
				{
					if (Model.Avaliacoes.Count() > 0)
					{
						foreach (var avaliacao in Model.Avaliacoes)
						{
							<div class="rating">
								<p>Usuário: @avaliacao.Avaliador?.Nome</p>
								<p>Avaliação: @avaliacao.Estrelas estrelas</p>
								<p>Comentário: @avaliacao.Comentario</p>
							</div>

							@if (SignInManager.IsSignedIn(User))
							{
								if (vendedor != null)
								{
									if (vendedor == true)
									{
										<form asp-action="Delete" asp-route-id="@avaliacao.Id" asp-controller="Avaliacaos" method="POST">
											<button type="submit" class="btn btn-style">Remover Avaliação</button>
										</form>
									}
								}
							}
						}
					}
					else
					{
						<div class="rating">
							Não há avaliações para esse livro!
						</div>
					}
				}
				else
				{
					<div class="rating">
						Não há avaliações para esse livro!
					</div>
				}
			</div>
		</div>
	</div>
	<hr />
	@if (SignInManager.IsSignedIn(User))
	{
		if (vendedor == true)
		{
			<div class="submit-rating">
				<h3>Como vendedor, você não pode avaliar um livro.</h3>
			</div>
		}
		else
		{
			<div class="submit-rating">
				<h3>Faça a sua avaliação</h3>
				<form asp-action="AdicionarAvaliacao" asp-route-id="@Model.Id" method="post">
					<input type="hidden" name="IdLivro" value="@Model.Id" />
					<input type="hidden" name="IdUsuario" value="@IdUsuario" />

					<div class="stars">
						@for (int i = 1; i <= 5; i++)
						{
							<input type="radio" name="Estrelas" id="star-@i" value="@i" />
							<label for="star-@i">&#9733;</label>
						}
					</div>


					<textarea class="form-control" name="Comentario" placeholder="Adicione um comentário..."></textarea>
					<button type="submit" class="btn btn-style">Enviar avaliação</button>
				</form>
			</div>
		}
	}
	else
	{
		<div class="submit-rating">
			<h3>Você precisa estar logado para avaliar esse livro!</h3>
		</div>
	}
</div>

@*<div>
	<a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
	<a asp-action="Index">Back to List</a>
</div>*@
