@model Livraria.Models.Livro

@{
	ViewData["Title"] = "Details";
}

<div class="book-details-page">
	<div class="book-details">
		<div class="book-cover">
			<img src="@Model.Capa" alt="Capa do Livro: @Model.Nome">
		</div>
		<div class="book-info">
			<h2>@Model.Nome</h2>
			<p>Autor: <strong>@Model.Autor</strong></p>
			<p>Preço: <strong>R$ @Model.Preco</strong></p>
			<p>Vendas: @Model.QtdVendas</p>

			<button class="btn" id="addToCartBtn" onclick="addToCart(@Model.Id)">Adicionar ao carrinho</button>

			<div class="rating-section">
				<h3>Avaliações:</h3>
				@if (Model.Avaliacoes != null)
				{
					foreach (var avaliacao in Model.Avaliacoes)
					{
						<div class="rating">
							<p>User: @avaliacao.Avaliador?.Nome</p>
							<p>Rating: @avaliacao.Estrelas</p>
							<p>Comment: @avaliacao.Comentario</p>
						</div>
					}
				}
			</div>
		</div>
	</div>
	<hr />
	<div class="submit-rating">
		<h3>Faça a sua avaliação</h3>
		<form asp-action="AdicionarAvaliacao" asp-route-id="@Model.Id" method="post">
			<input type="hidden" name="LivroId" value="@Model.Id" />

			<div class="stars">
				@for (int i = 1; i <= 5; i++)
				{
					<input type="radio" name="Estrelas" id="star-@i" value="@i" />
					<label for="star-@i">&#9733;</label>
				}
			</div>

			<textarea class="form-control" name="Comentario" placeholder="Adicione um comentário..."></textarea>
			<button type="submit" class="btn">Enviar avaliação</button>
		</form>
	</div>
</div>

@*<div>
	<a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
	<a asp-action="Index">Back to List</a>
</div>*@
