@model IEnumerable<Livraria.Models.Carrinho>

<div class="container" style="margin-top: 5vh">
	<h2>Listagem de Carrinhos</h2>
	<table class="table">
		<thead>
			<tr>
				<th>@Html.DisplayNameFor(model => model.Id)</th>
				<th>@Html.DisplayNameFor(model => model.LivrosIds)</th>
				<th>@Html.DisplayNameFor(model => model.IdUsuario)</th>
				<th>Ações</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model)
			{
				<tr>
					<td>
						@Html.DisplayFor(modelItem => item.Id);
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.LivrosIds);
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.IdUsuario);
					</td>
					<td>
						<a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
						<a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
						<a asp-action="Delete" asp-route-id="@item.Id">Deletar</a>
					</td>
				</tr>
			}
		</tbody>
	</table>
</div>
