@using Microsoft.AspNetCore.Identity;
@inject SignInManager<Usuario> SignInManager

@{
	ViewData["Title"] = "Home";
	var livrosMaisVendidos = ViewData["LivrosMaisVendidos"] as List<Livro>;
	var melhoresAvaliados = ViewData["MelhoresAvaliados"] as List<Livro>;
	var idUsuario = ViewData["IdUsuario"] as string;
	bool? vendedor = ViewData["Vendedor"] as bool?;
}

<link rel="stylesheet" href="~/css/home.css" />

<div>
	<div class="header-carrousel">
		<img src="~/img/books3.jpg" width="100%">
	</div>
	<div class="container-livros">
		<h3>Mais Vendidos</h3>
		<div class="book-carrousel h-100">
			@if (livrosMaisVendidos != null)
			{
				@foreach (var livro in livrosMaisVendidos)
				{
					<div class="card h-100" style="width: 10vw; ">
						<img src="@livro.Capa" class="card-img-top" alt="@livro.Nome" style="width: 10vw; height: 15vh; object-fit: contain">
						<div class="card-body d-flex flex-column">
							<h5 class="card-title" style="height: 50%; text-overflow: ellipsis">@livro.Nome</h5>
							<p class="card-text">@livro.Autor</p>
							<p class="card-text">Vendas: @livro.QtdVendas</p>
							<p class="card-text">Preço: R$ @livro.Preco</p>
							<div class="d-flex flex-column gap-2">
								<a href="@Url.Action("Details", "Livros", new { id = livro.Id })" class="btn btn-primary">Ver Livro</a>
								@if (vendedor != true && SignInManager.IsSignedIn(User))
								{
									<form asp-action="AdicionarCarrinho" asp-controller="Carrinho" asp-route-idLivro="@livro.Id" method="POST">
										<input type="hidden" name="LivrosIds" value="@livro.Id" />
										<input type="hidden" name="IdUsuario" value="@idUsuario">
										<button type="submit" class="btn btn-style">Adicionar ao carrinho</button>
									</form>
								}
								else
								{
									if (vendedor == false || vendedor == null)
									{
										<a class="btn btn-style" asp-area="Identity" asp-page="/Account/Login">Adicionar ao carrinho</a>
									}
								}
							</div>
						</div>
					</div>
				}
			}

		</div>
	</div>
	<div class="container-livros">
		<h3>Melhores Avaliados</h3>
		<div class="book-carrousel h-100">
			@if (melhoresAvaliados != null)
			{
				if (melhoresAvaliados.Count() > 0)
				{
					foreach (var livro in melhoresAvaliados)
					{
						<div class="card h-100" style="width: 10vw;">
							<img src="@livro.Capa" class="card-img-top" alt="@livro.Nome" style="width: 10vw; height: 15vh; object-fit: contain">
							<div class="card-body d-flex flex-column">
								<h5 class="card-title" style="height: 50%; text-overflow: ellipsis">@livro.Nome</h5>
								<p class="card-text">@livro.Autor</p>
								@if (livro.Avaliacoes != null)
								{
									if (livro.Avaliacoes.Count != 0)
									{
										<p class="card-text">Avaliação Média: @livro.Avaliacoes.Average(a => a.Estrelas) Estrelas</p>
									}
									else
									{
										<p class="card-text">Livro sem avaliações</p>

									}
								}
								<p class="card-text">Vendas: @livro.QtdVendas</p>
								<p class="card-text">Preço: R$ @livro.Preco</p>
								<div class="d-flex flex-column gap-2">
									<a href="@Url.Action("Details", "Livros", new { id = livro.Id })" class="btn btn-primary">Ver Livro</a>
									@if (vendedor != true && SignInManager.IsSignedIn(User))
									{
										<form asp-action="AdicionarCarrinho" asp-controller="Carrinho" asp-route-idLivro="@livro.Id" method="POST">
											<input type="hidden" name="LivrosIds" value="@livro.Id" />
											<input type="hidden" name="IdUsuario" value="@idUsuario">
											<button type="submit" class="btn btn-style">Adicionar ao carrinho</button>
										</form>
									}
									else
									{
										if (vendedor == false || vendedor == null)
										{
											<a class="btn btn-style" asp-area="Identity" asp-page="/Account/Login">Adicionar ao carrinho</a>
										}
									}
								</div>
							</div>
						</div>
					}
				}
			}
		</div>
	</div>
</div>

<script defer src="~/js/index.js" asp-append-version="true"></script>